ATOMS = {'B': (192, (1., .710, .710, 1.)), 'C': (170, (.467, .467, .467, 1.)),
'N': (155, (.631, .631, 1., 1.)), 'O': (152, (.796, 0., 0., 1.)),
'F': (147, (.776, 1., .071, 1.)), 'AL': (184, (.812, .651, .651, 1.)),
'SI': (210, (.820, .839, .549, 1.)), 'P': (180, (1., .580, .129, 1.)),
'S': (180, (.796, .208, 1., 1.)), 'CL': (175, (.267, 1., .227, 1.)),
'GA': (187, (.761, .561, .561, 1.)), 'GE': (211, (.400, .561, .561, 1.)),
'AS': (185, (.741, .502, .890, 1.)), 'SE': (190, (1., .631, 0., 1.)),
'BR': (185, (.745, .501, .235, 1.)), 'SN': (217, (.400, .502, .502, 1.)),
'SB': (206, (.620, .388, .710, 1.)), 'TE': (206, (.831, .478, 0., 1.)),
'I': (198, (.600, .600, 1., 1.)), 'BI': (207, (.620, .310, .710, 1.)),
'OTHER': (170, (1., 0., 1., 1.)), 'BQ': (120, (.081, .311, .537, 1.)), 'highlight': (0, .75, 0, 1)} # vdw radii (in pm) and colors
BOND_LIMIT = 1.8 # the maximum distance (in anstrom) between atoms for a bond to be considered as "existing"
COMPONENTS = [True, True, True, True, True, False] # set which component(s) to be visible: Bonds, Labels, Planes, H's, Bq's, Axes
COMMAND = '# nmr=giao b3lyp/6-311+g(2d,p)' # Gaussian keywords of a NICS calculation
